.profile-card {
  border: 1px solid var(--light-color);
  padding: 32px 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 250px 1fr;
  grid-gap: 32px;
}

.title {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;

  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__name {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.description {}

.tags {
  display: flex;
  height: min-content;
  flex-wrap: wrap;
  gap: 4px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  align-items: center;
  justify-items: center;
}
