.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 40px;
  padding: 16px 20px;
  border: 1px solid var(--light-color);
  background-color: var(--dark-color);

  &__label {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    span {
      font-size: 12px;
      font-weight: 500;
      color: var(--light-transparent-color);
    }
  }

  &__input {
    font-size: 14px;
    padding: 12px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--light-color);
    color: var(--light-color);
    transition: all 0.2s ease-out;

    &:focus {
      outline: none;
      border-bottom: 1px solid var(--primary-color);
    }
  }

  &__button {
    font-size: 14px;
    font-weight: 500;
    color: var(--light-transparent-color);
    border: none;
    background-color: transparent;
    transition: all 0.2s ease-out;

    &--svg {
      width: 16px;
      height: 16px;
      color: var(--light-color);
    }
    
    .bin {
      color: var(--warning-color); 
    }
  }
}