<div class="content">
  <h1 class="h1">Вход</h1>
  <form action="" class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label class="control-label">
      Telegram username
      <input type="text" placeholder="Введите логин" class="input" formControlName="username">
    </label>
    <label class="control-label">
      Пароль
      <div class="input-wrapper">
        <input type="text" placeholder="Введите пароль" class="input" formControlName="password"
          [type]="isPasswordVisibleValue ? 'text' : 'password'">
        <button class="input-wrapper__button" (click)="isPasswordVisible.set(!isPasswordVisible())">
          @if (isPasswordVisibleValue) {
          <img src="/assets/icons/eye-open.svg" alt="eye">
          } @else {
          <img src="/assets/icons/eye-close.svg" alt="eye-close">
          }
        </button>
      </div>
    </label>

    <app-common-button
      class="login-form__button"
      type="submit"
      [isFullWidth]="true"
    >
      Войти
    </app-common-button>
  </form>
</div>

<img src="/assets/icons/logo.svg" alt="logo">